<%= simple_form_for(@answer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if local_assigns[:question_id] %>
        <%= f.input :question_id, as: :hidden, input_html: { value: local_assigns[:question_id] } %>
    <% else %>
        <%= f.input :question_id, collection: question_collection %>
    <% end %>
    <%= f.input :message %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
